<div class="panel panel-default card card-block" appCardHover>
  <div class="panel-heading card-title">{{product.name}}</div>
  <div class="panel-body card-text" [style.display]="'none'">
      <ul>
          <li>Description: {{product.description}}</li>
          <li>Price: {{product.price}}</li>
          <li>Category: {{product.category}}</li>
          <li>Quantity: {{product.quantity}}</li>
      </ul>
      <button class="btn btn-primary" (click)="showEditBlock()" >Edit Quantity</button> 
  </div>
</div>
