<div *ngIf="serviceList.length > 0; else elseBlock">
<!-- <p *ngIf="appCartList.length > 0; else elseBlock"> -->
  Your selected product: {{i.name}}
  <p>Here is your list!</p>
  <ul >
      <li *ngFor="let p of serviceList">Name: {{p.name}} Description: {{p.description}} Price: {{p.price}} Category: {{p.category}}<button (click)="removeFromList(p)">Remove</button></li>
    <!-- <li *ngFor="let p of appCartList">Name: {{p.name}} Description: {{p.description}} Price: {{p.price}} Category: {{p.category}}</li> -->
  </ul>
</div>
<ng-template #elseBlock>Cart is Empty. Please, add to cart some products.</ng-template>
