<div class="panel panel-default">
	<div class="panel-heading">Product</div>
	<div class="panel-body">
		<ul>
			<li>Id: {{product.id}}</li>
			<li>Name: {{product.name}}</li>
			<li>Description: {{product.description}}</li>
			<li>Price: {{product.price}}</li>
			<li>Category: {{product.category}}</li>
			<li>Available: {{product.available}}</li>
			<li>Quantity: {{product.quantity}}</li>
			<li>Updated: {{product.updated}}</li>
		</ul>
		<button class="btn btn-primary btn-sm" 
				(click)="switchAvailability()"
				[disabled]="!product.available">
				Change
		</button>
		<button class="btn btn-warning btn-sm"
				(click)="onEditProduct()">
				Edit
		</button>
		<button class="btn btn-danger btn-sm"
				(click)="showProductFeed()">
				Feed
		</button>
		<button class="btn btn-danger btn-sm"
				(click)="addToCart(product)">
				Add to Cart
		</button>
	</div>
</div>
