<div class="panel panel-default">
	<div class="panel-heading">Product</div>
	<div class="panel-body">
		<ul>
			<li>Name: {{product.name}}</li>
			<li>Description: {{product.description}}</li>
			<li>Price: {{product.price}}</li>
			<li>Category: {{product.category}}</li>
			<li>Available: {{product.available}}</li>
			<li>Quantity: {{product.quantity}}</li>
			<li>Updated: {{product.updated}}</li>
		</ul>
		<button class="btn btn-primary btn-sm"
				(click)="showProductDetails()">
				Details
		</button>
		<button class="btn btn-warning btn-sm"
				(click)="addToCart(product)"
				[disabled]="!product.available">
				Add to Cart
		</button>
	</div>
</div>
