<div class="panel panel-default">
	<div class="panel-heading">Product</div>
	<div class="panel-body">
<!-- //        public id: number = null,
//         public name:string = '', 
//         public description: string=  '',
//         public price:number = 0, 
//         public category:Category = Category.BestSeller,
//         public available: boolean = false,
//         public quantity: number = 0,
//         public updated: Date = new Date(),
//         public feedbackList: FeedBackModel[] = [] -->

		<ul>
			<li>Id: {{product.id}}</li>
			<li>Name: {{product.name}}</li>
			<li>Description: {{product.description}}</li>
			<li>Price: {{product.price}}</li>
      <li>Category: {{product.category}}</li>
      <li>Available: {{product.available}}</li>
      <li>Quantity: {{product.quantity}}</li>
      <li>Updated: {{product.updated}}</li>
    </ul>
    <button class="btn btn-primary btn-sm" 
			(click)="switchAvailability()"
       [disabled]="!product.available">
			Change
		</button>
		<button class="btn btn-warning btn-sm"
			(click)="onEditProduct()">
			Edit
		</button>
	</div>
</div>
